body {
  background-image: url(https://i.imgur.com/rwAzpUZ.png);
}

#example {
  font-family: Arial;
 font-weight: ;
  font-size: 30px;
  color: #262626;
}

#logo {
  min-width: 800px;
  width: 10%;
  position: absolute;
  left: 34%;
  top: 50%;
}

#sun {
  min-width: 300px;
  width: 10%;
  position: absolute;
  left: 53%;
  top: 30%;
}

#facephoto_1 {
  min-width: 300px;
  width: 10%;
  position: absolute;
  left: 15%;
  top: 35%;
}

#cloud_2 {
  min-width: 300px;
  width: 10%;
  position: absolute;
  left: 68%;
  top: 40%;
}

#cloud_3 {
  min-width: 200px;
  width: 10%;
  position: absolute;
  left: 1%;
  top: 26%;
}

#cloud_4 {
  min-width: 200px;
  width: 10%;
  position: absolute;
  left: 16%;
  top: 5%;
}

#head {
  min-width: 300px;
  width: 10%;
  position: absolute;
  left: 80%;
  top: 33%;
}

#face {
  min-width: 200px;
  width: 10%;
  position: absolute;
  left: 0%;
}

#bio {
  top: 0px;
  font-size: 2vw;
  color: yellow;
  position: absolute;
   left: 25%;
}

@media screenand (max-width: 799px) {
  #logo {
    width: 20%;
  }
  #sun {
    width: 30%;
  }
}
